rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección "categories"
    match /categories/{category} {
      allow read: if request.auth != null; // Permitir lectura de categorías para usuarios autenticados

      // Reglas para subcolecciones (e.g., /categories/Biceps/CurlDeBiceps/CurlDeBiceps)
      match /{exerciseId}/{exerciseDocId} {
        allow read: if request.auth != null; // Permitir lectura de documentos en subcolecciones
      }
    }

    // Reglas para la colección "users"
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId; // Solo propietarios
    }
  }
}

// Reglas para la colección "routines"
    match /routines/{routineId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}