.admin-section {
    padding: 20px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.assign-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search-user, .select-exercises {
    flex: 1;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-list, #exercise-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-list li, #exercise-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s;
}

#user-list li:hover, #exercise-list li:hover {
    background-color: #f4f4f9;
}

.assign-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#assign-routine-btn {
    padding: 10px 20px;
    background-color: #1d3557;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#assign-routine-btn:hover {
    background-color: #5a3794;
}

.back-button {
    text-decoration: none;
    color: white;
    background: #1d3557;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
