main {
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* Asegura que el main ocupe toda la altura de la ventana */
    width: 100%;
}

/* Estilos para la sección "Sobre nosotros" */
.about {
    width: 82%;
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 3%;
    max-height: 100%;
    background-image: url('../assets/images/banner/bannerabout.webp');
    color: #ffffff;
    padding: 60px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.about-container {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

.about-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black; /* Agrega borde negro suave alrededor del texto */
}

.about-container p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #f4f4f4;
    text-shadow: 1px 1px 2px black; /* Agrega borde negro suave alrededor del texto */
}

/* Sección de información de entrenamiento */
.training-info {
    min-width: 100%;
    position: relative;
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin-top: 3%;
    margin-bottom: 50px;
}

/* Título de la sección */
.training-info h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

/* Contenedor de tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    justify-content: center; /* Centra el grid dentro del contenedor */
    max-width: 1500px; /* Ajusta según el tamaño de tus cards */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.card {
    background: linear-gradient(45deg, #0a2a66, #1956a7, #1e90ff, #ffffff);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5); /* Sombra más sutil */
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #050505;
}

.card p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

/* Efecto hover en las tarjetas */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para la llamada a la acción */
.cta-container {
    margin-top: 40px;
    text-align: center;
    padding: 50px 20px;
    background-color: #333333;
    border-radius: 10px;
    margin-bottom: -30px;
    color: white;
    box-shadow: 0 6px 15px rgb(250, 248, 248); /* Sombra refinada */
}

.cta-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    font-size: 1.1rem;
    padding: 12px 30px;
    background-color: #ffffff;
    color: #ff5733;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    border: 2px solid #ff5733;
}

.cta-button:hover {
    background-color: #1956a7;
    color: #ffffff;
    transform: scale(1.05);
}

@media (max-width: 776px) {
    .about {
        min-width: 90%;
        background-size: cover;
        margin-left: 5%;
        background-position: center;
        max-height: none; /* Permite que la altura se ajuste en pantallas pequeñas */
    }

    .training-info {
        margin-left: 0px;
        grid-template-columns: 1fr;
    }

    .cards-container{
        display: flex;
        flex-direction: column; /* Cambiar a diseño vertical */
        gap: 15px; /* Reducir el espacio entre elementos */
        max-width: 100%; /* Asegurar que ocupe todo el ancho */
        overflow-y: auto; /* Permite desplazamiento si es necesario */
    }

    .cta-container p {
        font-size: 1rem;
    }
    .training-info h2 {
        font-size: 1.5rem;
    }

    .card h3 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .about-container h2 {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 1rem;
    }

    /* Ajustes del botón CTA */
    .cta-button {
        font-size: 0.7rem;
        padding: 10px 20px;
    }
}