main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ocupa toda la altura de la ventana */
    padding: 20px;
    background-color: #f4f4f4; /* Fondo claro */
}

label span {
    color: red;
    font-weight: bold;
}

.login-container {
    width: 480px; /* Tamaño fijo para mantener el ancho */
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1d3557; /* Morado principal */
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.login-form input:hover {
    transform: scale(1.03); /* Efecto de acercamiento */
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.4);
}

.login-form input:focus {
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.5);
    outline: none;
    transform: scale(1.03); /* Persistir efecto al enfocar */
}

.login-form button {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1d3557;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
    background-color: #5a3794;
    transform: scale(1.02);
}

.login-form .forgot-password {
    font-size: 0.85rem;
    color: #1d3557;
    cursor: pointer;
    transition: color 0.3s;
}

.login-form .forgot-password:hover {
    color: #5a3794;
    text-decoration: underline;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Espacio para el ícono */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #1d3557;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #5a3794;
}