main {
    /* Usar flexbox para centrar el contenido dentro del main */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que el main ocupe toda la altura de la ventana */
}

.login-container {
    width: 480px; /* Tamaño fijo para mantener el ancho */
    padding: 30px;
    background-color: #333333;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgb(250, 248, 248); /* Sombra refinada */
    text-align: center;
}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff; /* Morado principal */
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.login-form input:hover {
    transform: scale(1.03); /* Efecto de acercamiento */
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.4);
}

.login-form input:focus {
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.5);
    outline: none;
    transform: scale(1.03); /* Persistir efecto al enfocar */
}

.login-form button {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1d3557;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
    background-color: #5a3794;
    transform: scale(1.02);
}

#login-error {
    color: red;
    margin-top: 10px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #1d3557;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #5a3794;
}