/* Importando la fuente "Cinzel" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* Ajuste del banner de administración */
.admin-banner {
    width: 80vw; /* Ajusta el ancho al 80% de la pantalla */
    margin: 20px auto; /* Centrado */
    position: relative;
    margin-bottom: 4.2%;
}

/* Posicionamos el texto "ADMINISTRADOR" en la esquina superior derecha */
.admin-label {
    position: absolute;
    right: 10px;
    font-family: 'Cinzel', serif; /* Estilo gótico */
    font-size: 60px; /* Tamaño de fuente */
    font-weight: bold;
    color: white; /* Puedes cambiar el color según el diseño */
    padding: 5px 10px; /* Espaciado alrededor del texto */
}

.admin-banner img {
    width: 100%; /* Imagen ocupa todo el ancho disponible */
    border-radius: 15px; /* Opcional, si quieres bordes redondeados también en la imagen */
}

/* Botón de logout */
.logout-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.5); /* Rojo translúcido (opacidad 0.5) */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.logout-button:hover {
    background-color: rgba(255, 0, 0, 0.7); /* Rojo más opaco al pasar el mouse */
}

/* Responsividad */
@media (max-width: 768px) {
    /* Ajustamos la imagen para que ocupe más espacio vertical */
    .admin-banner img {
        height: 30vh; /* La altura de la imagen será el 60% del alto de la ventana */
    }

    /* Ajustamos la posición del texto "ADMINISTRADOR" en dispositivos móviles */
    .admin-label {
        font-size: 30px; /* Reducimos el tamaño de la fuente */
        top: 5px; /* Lo movemos un poco más abajo */
        right: 20px; /* Lo movemos hacia la derecha */
    }

    /* Ajustes adicionales de los elementos */
    .admin-banner {
        width: 100%; /* Ajustamos el ancho al 70% en pantallas pequeñas */
        max-width: none; /* Sin límite de ancho máximo */
        padding: 10px; /* Espaciado interno ajustado */
        margin-bottom: 29.4%;
    }

    /* Aseguramos que el botón de logout también sea responsive */
    .logout-button {
        bottom: 20px;
        right: 10px;
        font-size: 16px;
        padding: 12px 18px;
    }
}