/* Barra de búsqueda */
.search-container {
    margin: 20px auto;
    margin-left: 25px;
    width: 70%;
    max-width: 400px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#search-input {
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

#download-excel {
    position: absolute;
    top: 200px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    background: #4CAF50; /* Fondo verde (similar a Excel) */
    border: 2px solid #388E3C; /* Borde más oscuro para contraste */
    border-radius: 7px; /* Bordes redondeados */
    padding: 6px; /* Espaciado interno */
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
    transition: transform 0.2s, box-shadow 0.2s;
}

#download-excel:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

#download-excel img {
    width: 35px;
    height: 35px;
}

/* Contenedor de usuarios */
.usuarios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* Tarjetas de usuario */
.usuario-card {
    background: white;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.usuario-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.usuario-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.usuario-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/* Estilos para el contenedor de la paginación */
#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para cada botón de la paginación */
#pagination-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo para el botón activo */
#pagination-container button.active {
    background-color: #45a049;
}

/* Efecto al pasar el mouse por encima de los botones */
#pagination-container button:hover {
    background-color: #3e8e41;
    transform: scale(1.1);
}

/* Estilo para los botones de "Anterior" y "Siguiente" */
#pagination-container button.prev,
#pagination-container button.next {
    background-color: #008CBA;
}

/* Efecto al pasar el mouse por encima de los botones "Anterior" y "Siguiente" */
#pagination-container button.prev:hover,
#pagination-container button.next:hover {
    background-color: #007B8A;
}

/* Botones de acciones */
.usuario-card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Botón para ver rutinas */
.view-rutinas-btn {
    background: #00bcd4;
    color: white;
}

.view-rutinas-btn:hover {
    background: #e68900;
}

/* Botón para asignar rutina */
.assign-rutina-btn {
    background: #00bcd4;
    color: white;
}

.assign-rutina-btn:hover {
    background: #e68900;
}

/* Botón para traspasar rutina*/
.transfer-rutina-btn {
    background: #00bcd4;  /* Verde */
    color: white;
}

.transfer-rutina-btn:hover {
    background: #e68900; /* Verde más oscuro */
}

/* Botón para aprobar usuario */
.aprobar-btn {
    background: #00bcd4;  /* Verde claro */
    color: white;
}

.aprobar-btn:hover {
    background: #e68900; /* Verde más oscuro */
}

/* Botón aprobado (deshabilitado) */
.aprobar-btn[disabled] {
    background: #e0d0d0; /* Gris claro */
    color: #757575; /* Gris oscuro para el texto */
    cursor: not-allowed; /* Cambiar el cursor para indicar que está deshabilitado */
}

/* Estilo para el botón aprobado */
.aprobar-btn[disabled]:hover {
    background: #9e9e9e; /* Gris claro sin cambio de color al hacer hover */
}

/* Ordenamiento */
.ordenar-btn {
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    margin-bottom: 20px;
}

.ordenar-btn:hover {
    background: #e68900;
}

/* Estilos específicos para la ventana emergente de traspasar rutina */
.swal2-popup {
    border-radius: 10px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.swal2-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.swal2-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

.swal2-input:focus {
    border-color: #00bcd4;
    outline: none;
}

.swal2-confirm, .swal2-cancel {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.swal2-confirm {
    background: #4caf50;
    color: white;
}

.swal2-confirm:hover {
    background: #388e3c;
}

.swal2-cancel {
    background: #ff3b3b;
    color: white;
}

.swal2-cancel:hover {
    background: #d32f2f;
}

/* Diseño adaptado para pantallas móviles */
@media (max-width: 768px) {
    .swal2-popup {
        width: 90%;
        padding: 15px;
    }

    .swal2-title {
        font-size: 20px;
    }

    .swal2-input {
        padding: 10px;
        font-size: 14px;
    }

    .swal2-confirm, .swal2-cancel {
        padding: 8px 16px;
        font-size: 14px;
    }

    #download-excel {
        top: 295px; /* Ajusta según sea necesario */
    }
}